

ul.pager li{background: white;
    width: 20px;
    display: inline-block;}

    .test-check{width:100%; display: block;}

    // th {
    //     border-top: 1px solid #dddddd;
    //     border-bottom: 1px solid #dddddd;
    //     border-right: 1px solid #dddddd;
    //   }
       
    //   th:first-child {
    //     border-left: 1px solid #dddddd;
    //   }