<mat-form-field class="time-period-wrapper">
  <mat-label>{{timePeriodLabel}}</mat-label>
  <mat-select [(ngModel)]="selectedValue" (selectionChange)="onTimePeriodChanged($event)">
    <ng-container *ngFor="let period of timePeriods">
      <mat-option [value]="period.id">
        {{period.text}}
      </mat-option>
      <mat-divider *ngIf="period.hasDivider"></mat-divider>
    </ng-container>
    <mat-option (click)="openCustomDialog()" value="">Custom</mat-option>
  </mat-select>
</mat-form-field>
