<flikshop-time-period-select (changed)="onPeriodChanged($event)"></flikshop-time-period-select>
<flikshop-new-users [duration]="selectedDuration"></flikshop-new-users>
<flikshop-gift-cards [duration]="selectedDuration"></flikshop-gift-cards>
<flikshop-post-cards [duration]="selectedDuration"></flikshop-post-cards>
<flikshop-active-users [duration]="selectedDuration"></flikshop-active-users>
<flikshop-revenue [duration]="selectedDuration"></flikshop-revenue>
<flikshop-packages-purchased [duration]="selectedDuration"></flikshop-packages-purchased>