.card-chart {
    .card-header {
      .ct-chart {
        overflow: auto;
  
        ::ng-deep span.ct-label.clickable {
          cursor: pointer;
        }
      }
    }
  }
  
  .hidden {
    display: none;
  }

  .radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .radio-button {
    margin: 5px;
  }